.exchange-rate {
    :global {
        .ant-table-content table {
            width: 100%;
        }

        .table-column-cell {
            font-size: 12px;
            color: #fffef9;
            padding: 6px 0;
        }

        .table-column-amount {
            color: #d2b42c;

            &.actual {
                color: #0f95b0;
            }
        }
    }
}